html, body {
    height: 100%;
}

.main {
    width: 100%;
}

.container {
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: rgb(59, 174, 202);
    display: flex;
    flex-wrap: wrap;
}

.grid {
    width: 31.25px;
    height: 31.25px;
}

.red {
    background-color: red;
}

button {
    background-color: rgb(59, 174, 202);
    border: 1px solid rgb(59, 174, 202);
    border-radius: 3px;
    padding: 5px 10px;
}